@CHARSET "ISO-8859-1";

            
#shellContainer-wsBar{
	background-color:black;
}



#shellContainer-hdr{
	background-color:black;
}
/*jbn was here*/  
.sapUiUx3ShellHeaderTitleLeft > span{
	color:black !important;
}

.sapUiUx3ShellHeaderButton{
margin-top:20px;
}

 .img{
      margin: 200px 0px;
      border-radius: 50%; 
    }
    
   .img1{
       margin: 50px 90px;
       border-radius: 50%;
        
    }

/*jbn was here*/                  
body{
/* background: black; */
	 

	background-image: url("../images/Categories/redbg.jpg") !important;
	
}

/* CSS change by Raghu */

#idCategories--categoriesList div{
	width:80%;
}

#idCategories--categoriesList div div{
	width:100%;
}

#idCategories--categoriesList div > div div:first-child{
    width: 20%;
    margin: 2%;
} 

#idCategories--categoriesList div > div div:nth-child(2){
    width: 80%;
} 

#idCategories--categoriesList div > Img{
	border-radius: 4rem;
	width:100%;
	outline:none;
} 

.loggedUser{
	position: absolute;
    right: 10px;
    margin-top: 1%;
    width:10%;
}

.nameStyle{
	margin-top: 13%;
    color: white;
    font-size: 1rem !important;
    font-family: cursive !important;
    font-style: italic;
}
.description{
	color: gold;
    font-family: cursive !important;
    font-size: 1.2rem !important;
}


