body{
	background: lightblue !important;
	}
.c1{
	     text-align:center !important;
	     color:orange !important;	
	     }
.but{
	margin-top:-10% !important;
	color:black !important;
	font-weight:bolder;
	width:15%;
	height:10vh !important;
	font-size:10%;
	cursor:pointer;
	background-color:green !important;te
    }
   
	     

/* 
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}   */ 


@keyframes slidy{
	0%{left:0%;}
	20%{left:0%;}
	30% { left: -100%; }
	50% { left: -100%; }
	55% { left: -200%; }
	75% { left: -200%; }
	80% { left: -300%;}
	100% { left: -300%;}
}

figure{
	 margin: 0;
}
.slider { 
  position: relative; width: 400%;
  font-size: 0; animation: 28s slidy infinite; 
  z-index:-1;
}
.slider figure { 
  width: 25%; height: auto;
  display: inline-block;  position: inherit;
 
}
.slider img { 
	width: 100%; 
	height: 90vh;
	overflow:hidden; 
	}	     	
#idwelcomePage{
	overflow:hidden;
}
	