body{
/*jbn was here*/	
	background-color: black;
	}
.c1{
	     text-align:center !important;
	     color:orange !important;	
	     }
	     
/*jbn was here*/	     
.but{
	margin-top:-11% !important;
	color:black !important;
	font-weight:bolder;
	border-radius: 100% !important;
	width:13em;
	height:13em !important;
	font-size:10%;
	cursor:pointer;
    background-color: honeydew !important;
    box-shadow: 4px 4px 22px #666666;
    -webkit-transition: margin-left 2s;
    }
   
.but:hover{
	background-color: #f9d300!important;
}   

.but:focus{
	outline: none !important;
}  

.but > span{
	font-size:1.5rem;
}

/* 
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}   */ 


@keyframes slidy{
	0%{left:0%;}
	20%{left:0%;}
	30% { left: -100%; }
	50% { left: -100%; }
	55% { left: -200%; }
	75% { left: -200%; }
	80% { left: -300%;}
	100% { left: -300%;}
}

figure{
	 margin: 0;
}
.slider { 
  position: relative; width: 400%;
  font-size: 0; animation: 28s slidy infinite; 
  z-index:-1;
}
.slider figure { 
  width: 25%; height: auto;
  display: inline-block;  position: inherit;
 
}

/*jbn was here*/	
.slider img { 
	width: 100%; 
	height: 80vh;
	overflow:hidden; 

	}	     	
#idwelcomePage{
	overflow:hidden;
}

.sapUiUx3ShellHeader-logout{
	    background-color: #cc1919 !important;
}

.sapUiUx3ShellHeaderTitleRight{
	width:10% !important;

}

.sapUiUx3ShellHeaderTitleRight > a{
	width: 40%;
    height: 5vh;
    border-radius: 10%;
}

.sapUiUx3ShellHeaderTitleLeft{
	height:5vh;

}

/*jbn was here*/	
.sapUiUx3ShellHeaderTitleLeft > span{
	font-size: 4vh !important;
}


/*jbn additions*/

.sapUiUx3ShellContent{
	z-index: -10;
}

.affimg img{
	margin-top:-44% !important;
    width:50%;	
}
	
.slider img { 
	/* -webkit-filter:blur(10px); */ 
}


.hide{
	visibility:hidden;
}

.welcomeBackground{
	background:black !important;
}
